@charset "utf-8";

:root {
  --white: #fff;
  --black: #000;

  --gray-0: #f6f7f8;
  --gray-1: #e9edf0;
  --gray-2: #dadee1;
  --gray-3: #cbcfd2;
  --gray-4: #adb1b4;
  --gray-5: #8f9396;
  --gray-6: #717578;
  --gray-7: #53575a;
  --gray-8: #35393c;
  --gray-9: #171b1e;

  --states-red: #f75741;
  --states-orange: #e7871e;
  --states-yellow: #ffc45b;
  --states-blue: #0560fd;
  --states-green: #0bc274;

  --header-width: 250px;
  --header-height: 100dvh;

  --lnb-height: 10rem;

  --portfolio-slide-width: 17rem;

  --main-width: calc(100% - var(--header-width));
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 10px;
  word-break: keep-all;
}
::selection {
  background-color: #c0c0c0;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  height: 10%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}
img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.pc-only {
  display: block;
}
.mo-only {
  display: none;
}

/* S: .lnb */
.lnb {
  position: sticky;
  top: 0;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
  width: 100%;
  height: var(--lnb-height);
  background-color: #fff;
  box-sizing: border-box;
  z-index: 1;
}
.lnb .lnb-menu {
  display: flex;
  gap: 1.5rem;
  border-bottom: 1px solid #c0c0c0;
}
.lnb .lnb-meun-item {
  color: #c0c0c0;
  padding: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
.lnb .lnb-meun-item:hover {
  color: #000;
}
/* E: lnb */

/* S: main */
main {
  position: relative;
  margin-left: var(--header-width);
  padding-left: 2rem;
  width: var(--main-width);
  box-sizing: border-box;
}
main:has(.portfolio-slide) {
  width: calc(var(--main-width) - var(--portfolio-slide-width));
}
/* E: main */

/* S: footer */
footer {
  margin-left: var(--header-width);
  background-color: #f2f2f2;
  width: var(--main-width);
}

footer > div {
  padding: 5rem 4.5rem;
  box-sizing: border-box;
}

footer > .txt1 {
  border-bottom: 2px solid #fff;
}
footer > .txt1 > h3 {
  font-size: 2rem;
  font-weight: 700;
}
footer > .txt1 > p {
  text-transform: initial;
  font-size: 1.5rem;
  margin-top: 5rem;
}

footer > .txt2 {
  padding: 3rem 4rem;
  font-size: 0.8rem;
  text-transform: initial;
  line-height: 1.5;
  color: #696d73;
}

/* E: footer */

@media (max-width: 1199px) {
  /* S: main */
  main {
    margin-top: var(--header-height);
    margin-left: 0;
    padding: 0 5vw;
    width: 100%;
  }
  main:has(.portfolio-slide) {
    width: var(--main-width);
  }
  /* E: main */

  /* S: footer */
  footer {
    margin-left: 0;
  }

  footer > div {
    padding: 2rem;
  }

  footer > .txt1 {
  }

  footer > .txt1 > h3 {
    font-size: 1.25rem;
  }

  footer > .txt1 > p {
    text-transform: initial;
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  footer > .txt2 {
    padding: 1.3rem;
    font-size: 0.6rem;
    text-transform: initial;
  }
  /* E: footer */
}

@media (max-width: 1200px) {
  :root {
    --header-width: 100%;
    --header-height: 10dvh;

    --portfolio-slide-width: 100%;

    --main-width: 100%;
  }
}

@media screen and (min-width: 0) and (max-width: 1200px) {
  .mo-only {
    display: block;
  }
  .pc-only {
    display: none;
  }
}
