@charset "utf-8";

body {
    text-transform: capitalize;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
}

::selection {
    background-color: #c0c0c0;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

/*** header ***/
header {
    width: 100%;
    height: 10vh;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
}

header > h1 {
    font-size: 41px;
    font-weight: 400;
}

header > p {
    background: url(images/menu_bar.png) no-repeat 100% / cover;
    width: 28px;
    text-indent: -9999px;
    height: 23px;
}

/*** nav ***/
.mb_nav {
    width: 100%;
    height: 90vh;
    background-color: #fff;
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    opacity: 0;
    transition: 0.3s transform;
}

.active {
    transform: translateX(0%);
    opacity: 1;
}

.nav_header > p {
    background: url(images/menu_close.png) no-repeat 100% / cover;
    width: 28px;
    text-indent: -9999px;
    height: 28px;
}

.mb_nav .nav {
    font-weight: 700;
    font-size: 2.188rem;
    text-transform: capitalize;
    padding-left: 30px;
    line-height: 2;
    height: 60vh;
    padding-top: 70px;
    box-sizing: border-box;
}

.mb_nav .nav > li {
    margin-top: 12px;
    color: #000;
}

.mb_nav > p,
.mb_nav > .contact {
    padding-left: 30px;
}

.mb_nav > p:nth-of-type(1) {
    font-weight: 700;
    font-size: 1.25rem;
}

.mb_nav > .contact > li:nth-child(1) {
    text-transform: capitalize;
    font-weight: 700;
}

.mb_nav > .contact > li:nth-child(2) {
    text-transform: lowercase;
}

.mb_nav .copy {
    margin-bottom: 50px;
}

/*** footer ***/
footer {
    background-color: #f2f2f2;
    width: 100%;
}

footer > div {
    padding: 45px 30px;
    box-sizing: border-box;
}

footer > .txt1 {
    border-bottom: 2px solid #fff;
}

footer > .txt1 > h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

footer > .txt1 > p {
    text-transform: initial;
    font-size: 1.125rem;
    margin-top: 30px;
}

footer > .txt2 {
    padding: 30px 30px;
    font-size: 0.625rem;
    text-transform: initial;
    line-height: 1.5;
    color: #696d73;
}

/*** #nav-icon4 ***/
#nav-icon4 {
    width: 33px;
    height: 20px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #000;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    bottom: 8.5px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    bottom: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 3px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 20px;
    left: 3px;
}
