@charset "utf-8";

/* common */
body {
    text-transform: capitalize;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
}
::selection {
    background-color: #c0c0c0;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}
img {
    vertical-align: top;
    max-width: 100%;
}

.title a {
    text-align: center;
    border: 1px solid #000;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    font-weight: 700;
    background: url(../../images/icon-09.png) no-repeat 93% / cover;
    background-size: 13px;
}
.title a:hover {
    background: url(../../images/icon_w-09.png) no-repeat 93% / cover #000;
    background-size: 13px;
    color: #fff;
}

/* header */
header {
    display: flex;
}
header .title {
    width: 28%;
    box-sizing: border-box;
    padding: 200px 0 0 140px;
}
header .title h1 {
    font-size: 25px;
    margin: 12px 0;
}
header .title #date {
    text-transform: uppercase;
    font-weight: 700;
    margin: 30px 0;
}
header .title img {
    width: 90px;
}

header .title ul {
    margin: 50px 0;
}
header .title ul span {
    font-weight: 700;
}
header .title ul li {
    line-height: 1.5;
}

/* section common */
section {
    margin: 200px 0;
}
section h2 {
    margin-left: 18%;
    margin-bottom: 100px;
}
section h2 > .num {
    color: #d8dde5;
    font-size: 30px;
    margin-right: 40px;
}
section h2 > .light {
    font-weight: 400;
}

/* color */
.color {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 19px;
    margin: 0 auto 140px;
    width: 50%;
}
.color li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color li div {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 60px;
}
.color li p {
    line-height: 1.5;
}

/* footer */
footer {
    background-color: #fd6e00;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .btn_wrap {
    display: flex;
    text-align: center;
    width: 60%;
    justify-content: space-between;
}
footer .btn_wrap li a {
    background-color: #fff;
    font-weight: 700;
    width: 400px;
    height: 100px;
    border-radius: 50px;
    font-size: 35px;
    font-weight: 400;
    line-height: 100px;
}

footer .btn_wrap li:hover a {
    color: #fd6e00;
}
