@charset "utf-8";

/*** header_nav ***/
header .nav > li {
    color: #000;
}
header .nav > li:first-child {
    color: #c0c0c0;
}
header .nav > li:hover {
    color: #000;
}

/*** .lnb ***/
.lnb > ul {
    width: 350px;
}

/*** main ***/
main {
    margin-left: 15%;
    padding-left: 45px;
    margin-top: 13vh;
    width: 80%;
    box-sizing: border-box;
    overflow: hidden;
}
main > h1 {
    font-size: 6rem;
    margin-top: 150px;
}
main .container {
    padding-top: 15vh;
    box-sizing: border-box;
}
main .container > div {
    display: flex;
    border-top: 1px solid #414042;
    border-bottom: 1px solid #414042;
}

.container > div > img {
    width: 67%;
}
main .container > div > .txt {
    width: 33%;
    padding: 50px 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
main .container > div > .txt h2 {
    font-size: 1.563rem;
    line-height: 1.5;
}
main .container .tag,
main .container .skill {
    line-height: 1.5;
}

.container .skill strong {
    font-weight: 700;
}

main .container > div .btn_wrap {
    display: flex;
    justify-content: space-between;
}

main .container > div .btn_wrap li {
    width: 48%;
    font-size: 0.85rem;
}

main .container > div .btn_wrap a {
    border: 1px solid #000;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    font-weight: 700;
    text-indent: 18%;
}

main .container > div .btn_wrap li a {
    background: url(../images/icon-09.png) no-repeat 88% / cover;
    background-size: 13px;
}
main .container > div .btn_wrap li a:hover {
    background: url(../images/icon_w-09.png) no-repeat 88% / cover #000;
    background-size: 13px;
    color: #fff;
}

main .container > div .btn_wrap li:last-child a {
    background: url(../images/icon-10.png) no-repeat 88% / cover;
    background-size: 13px;
}
main .container > div .btn_wrap li:last-child a:hover {
    background: url(../images/icon_w-10.png) no-repeat 88% / cover #000;
    background-size: 13px;
    color: #fff;
}

main > div:last-child {
    margin-bottom: 120px;
}
