@charset "utf-8";

/* 웹폰트를 사용하기 위해 사전 설정 작업 */
/* 'GmarketSansB' */
@font-face {
    /* 사용자 정의 이름이지만 효율성을 위해 원래 이름 그대로 작성하는 편 */
    font-family: 'GmarketSansB';
    src: url('GmarketSansB.woff2') format('woff2'),
    url('GmarketSansB.woff') format('woff');
    font-weight: normal;
    font-size: normal;
}
/* 'GmarketSansM' */
@font-face {
    /* 사용자 정의 이름이지만 효율성을 위해 원래 이름 그대로 작성하는 편 */
    font-family: 'GmarketSansM';
    src: url('GmarketSansM.woff2') format('woff2'),
    url('GmarketSansM.woff') format('woff');
    font-weight: normal;
    font-size: normal;
}
/* 'GmarketSansL' */
@font-face {
    /* 사용자 정의 이름이지만 효율성을 위해 원래 이름 그대로 작성하는 편 */
    font-family: 'GmarketSansL';
    src: url('GmarketSansL.woff2') format('woff2'),
    url('GmarketSansL.woff') format('woff');
    font-weight: normal;
    font-size: normal;
}