@charset "utf-8";

/* common */
body {
    font-size: 1rem;
}
.m_hide { display: block;}

.close {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 60px;
    right: 60px;
}

/* header */
header .main_image {
    width: 72%;
    height: 80vh;
}
header {
    flex-direction: row;
}
header .title {
    width: 28%;
    padding: 200px 0 0 140px;
    height: 80vh;
    display: inline-block;
}

header .title #date {
    margin: 30px 0;
}

/*** main ***/

/* section common */
section {
    margin: 200px 0;
}

section h2 {
    margin-left: 18%;
    margin-bottom: 100px;
    font-size: 20px;
}

section h2>.num {
    font-size: 30px;
    margin-right: 40px;
}



/* intro */
.intro .project_title {
    font-size: 25px;
    padding: 12px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 0 70px 28%;
}

.intro ul {
    margin-left: 28%;
}

.intro ul span {
    font-weight: 700;
    width: 200px;
    display: inline-block;
}

/* overview */
.overview p {
    margin-left: 28%;
    line-height: 1.8;
    margin-top: 40px;
    width: initial;
}

.overview p strong {
    font-weight: 700;
    position: relative;
}

.overview p strong::after {
    content: "";
    display: inline-block;
    height: 15px;
    background-color: #fff198;
    width: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/* problem */
.problem .before img {
    width: 200px;
    margin: 0 20px;
}

.problem .container {
    margin-top: 70px;
    width: 60%;
    flex-wrap: nowrap;
    margin: 100px auto 0;
}

.problem .box1 {
    flex-direction: column;
    justify-content: space-between;
    line-height: 45px;
    width: 10%;
}

.problem ul li {
    text-align: center;
    line-height: 45px;
    width: 30%;
    height: 45px;
    border-radius: 23px;
    border: 2px solid #fd6e00;
}
.problem .box2 {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
.problem .box2 ul {
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 100%;
}

.problem .as_is {
    font-size: 16px;
}


.problem .direct img {
    transform: rotate(-90deg);
}



.problem .direct li {
    border: none
}

.problem .direct img {
    transform: rotate(0);
}

.problem .to_be li {
    background-color: #fd6e00;
    color: #fff;
    font-size: 20px;
}

/* project goal/vision */
.vision {
    padding: 100px 0;
}

.vision h3 {
    font-size: 45px;
}
.vision h3 br { display: none;}
.vision h3>img {
    display: inline-block;
    width: 29px;
    margin: 0 30px;
}

.vision p {
    font-size: 23px;
    margin-top: 35px;
}

/* design direction */

.design .keyword {
    display: flex;
    justify-content: center;
}

.design .keyword li {
    border: 2px solid #fd6e00;
    width: 200px;
    height: 200px;
    justify-content: center;
    font-size: 19px;
    margin: 0 30px;
}

.design .keyword li strong {
    font-size: 35px;
}
.design .keyword li span {
    width: 100%;
    height: 30px;
    margin: 0 auto 5px;
}

/* graphic concept */
.concept h4 {
    margin-left: 23%;
}

/* color */
.color {
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    font-size: 19px;
    margin: 0 auto 100px;
    width: 60%;
}

.color li {
    width: 25%;
    margin-bottom: 50px;
}

.color li div {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 20px;
}

.color li:nth-child(1) div {
    background-color: #fd6e00;
}

.color li:nth-child(2) div {
    background-color: #ffb74e;
}

.color li:nth-child(3) div {
    background-color: #fa9b87;
}

.color li:nth-child(4) div {
    background-color: #6acee9;
}

.color li p:nth-of-type(1) {
    font-weight: 700;
}

.color li p:nth-of-type(2) {
    text-transform: lowercase;
    font-weight: 400;
    color: #58595b;
}


.typo img {
    width: 40%;
}

/* 정보입력 */
.info_input p {
    text-align: center;
    margin-bottom: 100px;
}

.info_input>img {
    width: 65%;
    display: block;
    margin: 0 auto;
}

/* main page */
.main_page p {
    text-align: center;
}

.main_page .home_img {
    position: relative;
}

.main_page ul {
    display: flex;
    width: 70%;
    margin: 100px auto 0;
}

.main_page li {
    margin: 0 5px;
}

.main_page li:nth-child(3) {
    align-self: center;
}

.main_page .bg {
    position: absolute;
    width: 100%;
    height: 85%;
    background-color: #ffb74e;
    z-index: -1;
    top: 7.5%;
}

.main_page li:nth-child(4) {
    margin-top: 50px;
}

/* 통계 자료 / tip */

.tip p {
    width: 50%;
    margin: 0 auto;
    line-height: 1.8;
    margin-top: 40px;
}

.tip .sub_img {
    position: relative;
}

.tip .sub_img ul {
    display: flex;
    width: 80%;
    margin: 100px auto 0;
}

.tip .sub_img ul li {
    margin: 0 5px;
}

.sub_img .bg2 {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #fff0e5;
    z-index: -1;
    top: 25%;
}

.tip .sub_img ul li:nth-child(1) {
    margin-top: 340px;
}

.tip .sub_img ul li:nth-child(3) {
    margin-top: 140px;
}

.tip .sub_img ul li:nth-child(4) {
    margin-top: 60px;
}

.tip .sub_img ul li:nth-child(5) {
    margin-top: 170px;
}

/* alram */
.alram p {
    width: 50%;
    margin: 0 auto;
    line-height: 1.8;
    margin-top: 40px;
}

.alram img {
    width: 35%;
    margin: 100px auto 0;
    display: block;
}

/* footer */
footer {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .btn_wrap {
    flex-direction: row;
    width: 60%;
    align-items: center;
}

footer .btn_wrap li a {
    width: 400px;
    height: 100px;
    border-radius: 50px;
    font-size: 35px;
    line-height: 100px;
}