@charset "utf-8";

.m_hide {
    display: block;
}

.pc_hide {
    display: none;
}

/* header */
.pc_menu {
    display: flex;
    border: none;
    border-right: 1px solid #fff;
}

header {
    border-bottom: none;
    transition: 0.3s;
}

header .menu {
    transform: translateX(-100%);
    height: calc(100vh - 80px);
    justify-content: space-around;
    border-top: 1px solid #fff;
    margin-top: 79px;
}

header .menu .box1 {
    display: none;
}

header .menu .box2 li:hover {
    color: orange;
}

header .menu .sns {
    width: 30%;
    flex-direction: row;
    padding: 0;
    height: 10%;
}

.menu .sns li {
    width: 60px;
    height: 60px;
}

.menu .sns li a {
    width: 40px;
    height: 40px;
}

header > .user_menu {
    color: #fff;
    display: flex;
    font-size: 22px;
    text-transform: capitalize;
    border-bottom: 1px solid #fff;
}

header > .user_menu li:first-child {
    text-transform: lowercase;
}
header > .user_menu li a {
    padding: 0 40px;
    line-height: 80px;
    border-left: 1px solid #fff;
}

header > .user_menu li:hover a {
    background-color: #fff;
    color: #000;
}

.down {
    background-color: #000;
    border-bottom: 1px solid #fff;
}
.black {
    background-color: #000;
}
header h1 {
    margin-right: auto;
    margin-left: 100px;
    width: 200px;
    transition: 0.3s;
}

.hamburger {
    border-bottom: 1px solid #fff;
}

/* main */
.main .main_bg {
    text-indent: -9999px;
    background: url(../images/main_img_pc.jpg) no-repeat 50% / cover;
    width: 100%;
    height: 160vh;
}

.main > h2 {
    font-size: 130px;
    margin-left: 180px;
    bottom: 85vh;
}

.side {
    position: absolute;
    width: 80px;
    border-right: 1px solid #fff;
    left: 0;
    top: 80px;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side > div {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 30px;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sns {
    flex-direction: column;
    padding: 0;
    align-items: center;
    height: 25%;
    justify-content: space-around;
}

.sns li {
    width: 35px;
    height: 35px;
}

.sns li a {
    width: 23px;
    height: 23px;
}

/* makeup */
.makeup {
    width: 90%;
    height: 100vh;
    margin-top: -60vh;
    position: relative;
    z-index: 20;
}

.makeup > div {
    width: 80%;
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    padding: 70px 0;
}

.makeup > div h3 {
    font-size: 70px;
}

.makeup > div p {
    font-size: 40px;
    margin: 50px 0;
}

.makeup > div a {
    font-size: 30px;
    width: 400px;
    line-height: 80px;
    margin: 0;
}

.makeup > div a:hover {
    background-color: #fff;
    color: #000;
}

.makeup > img {
    width: 80%;
    position: absolute;
    top: 60vh;
    right: 0;
}

/* intro */
.intro {
    height: 180vh;
}

.intro h4 {
    font-size: 170px;
    padding-top: 20vh;
    padding-left: 10%;
}

.intro .shadow {
    width: 450px;
    height: 450px;
    top: 5vh;
    right: 0;
    z-index: 35;
}

.intro .cushion {
    width: 550px;
    height: 550px;
    top: 85vh;
    left: -5%;
}

.intro .lipstick {
    width: 100px;
    height: 550px;
    bottom: 0;
    left: 35%;
}

.intro .lip_cap {
    width: 100px;
    height: 270px;
    bottom: 30px;
    left: 50%;
}

.intro .palette {
    width: 400px;
    height: 400px;
    left: 60%;
    top: 45%;
}

.intro .fix {
    width: 550px;
    height: 550px;
    top: 140vh;
    right: -80px;
}

/* products category */
.products h4 {
    font-size: 210px;
    margin: 0 0 -60px 0;
    position: relative;
}

.category {
    overflow: initial;
}

.category ul {
    justify-content: space-between;
    width: 100%;
    height: 835px;
    align-items: center;
    position: relative;
}

.category ul li {
    width: 19%;
    height: 690px;
}

.category ul li:nth-child(2) {
    align-self: flex-end;
}

.category ul li:nth-child(4) {
    align-self: flex-start;
}

.category ul li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* footer */
footer {
    margin-top: -420px;
    padding-top: 580px;
}

footer h5 {
    background-color: #000;
    padding: 20px;
    margin: 0 auto -32px;
    position: relative;
    width: 270px;
}

footer h5 img {
    height: 25px;
}

footer > div {
    border: 1px solid #fff;
    width: 80%;
    margin: 0 auto;
    padding: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

footer .gnb1 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 0 0 65px 0;
    width: 100%;
}

footer .gnb1 li:hover a {
    color: orange;
}

footer .gnb2 {
    width: 35%;
}

footer .gnb2 ul {
    justify-content: space-between;
    font-size: 20px;
    padding: 0;
}

footer .gnb2 li:hover a {
    color: #999;
}

footer .btn_wrap {
    width: 35%;
    border: none;
    justify-content: space-between;
}

footer .btn_wrap div {
    width: 45%;
}

footer .btn_wrap a {
    line-height: 60px;
}

footer .btn_wrap div a {
    border: 1px solid #fff;
    font-size: 30px;
}

footer .btn_wrap div:hover a {
    color: orange;
}

footer > p {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
    padding: 60px 0;
    font-size: 20px;
}
