@charset "uth-8";

.m_hide { display: inline-block;}
.pc_hide { display: none;}

/* header */
header h1 {
    width: 217px;
    height: 60px;
}
/* search_box */
header .search_box {
    width: 70%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

header .search_box input {
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
    text-transform: capitalize;
}
/* menu */
.menu {
    border-left: 4px solid #000;
}

.menu li:nth-child(1):hover a {
    background-color: #ffcf3e;
}

.menu li:nth-child(2):hover a {
    background-color: #5c9fdb;
}

.menu li:nth-child(3):hover a {
    background-color: #ff6f7a;
}

.menu li:nth-child(4):hover a {
    background-color: #d2e8e1;
}

.menu li:nth-child(5):hover a {
    background-color: #ffcf3e;
}

.menu li:nth-child(6):hover a {
    background-color: #7868e6;
}


.active {
    transform: translateX(70%);
}
/* register */
main nav ul {
    width: 270px;
    height: 140px;
    font-size: 20px;
    margin-right: 15%;
}
/* category */
.category {
    padding: 25px 0;
}

.category ul {
    justify-content: space-between;
    width: 960px;
    margin-left: 15%;
    font-size: 20px;
}

main .category_title {
    width: 70%;
    border-bottom: 2px solid #ebebeb;
    color: #555;
    padding: 85px 0 25px;
    margin-bottom: 53px;
}

/* main section */
.product_des {
    flex-direction: row;
    padding: 0 15% 110px;
}

/* images gallery */
.product_des .gallery_box {
    width: 53%;
    margin: 0;
}
.img_gallery .gallery li {
    width: 100%;
    margin: 0 0 50px 0;
}

/* images gallery2 */
.img_gallery2 {
    overflow: inherit;
}

.gallery2 {
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
}

.gallery2 li {
    height: auto;
    width: 47%;
    margin-bottom: 5%;
}

/* 제품 정보 description */
.description {
    width: 47%;
    padding-left: 8%;
}
/* box1 가격정보 */
.box1 {
    position: relative;
    padding: 0;
    margin: 0;
    border: none;
}

/* 공유 버튼 */
.box1 .btn_wrap1 {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    height: 175px;
    width: 48px;
}

.box1 > li {
    margin: 20px 0;
}

.box1 div {
    width: 30%;
    margin: 0;
}

.box1 p {
    width: 50%;
    font-size: 1rem;
}

.btn_wrap2 {
    margin: 55px 0;
    padding: 0;
}

/* des_list */
.des_list .click { top: -50px; left: -50px; transform: rotate(90deg);}

.des_list ul h5 {
    border: 2px solid #000;
    border-bottom: none;
    margin: 0;
}

.des_list ul li:last-child h5 {
    border-bottom: 2px solid #000;
}

.des_list ul .slide_toggle {
    border: 2px solid #000;
    border-bottom: none;
}

.des_list ul li:last-child .slide_toggle {
    border-top: none;
    border-bottom: 2px solid #000;
}

/* 상품상세정보 */

/* 상품후기 */

/* 배송안내 */

/* recommend */
section h4 {
    font-size: 40px;
}

.recommend {
    padding: 70px 0 145px;
}

.recommend div {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    overflow: inherit;
}

.recommend h4 {
    margin: 0 0 70px 15%;
}

.recommend div ul {
    width: 100%;
    overflow: inherit;
    justify-content: space-between;
}

.recommend div ul li {
    padding: 15px;
    width: 23%;
}

.recommend div ul li p:nth-of-type(1) {
    font-family: 'GmarketSansL';
    font-size: 1rem;
}

.recommend div ul li p:nth-of-type(2) {
    font-size: 20px;
    margin: 0;
}

/* footer */
footer {
    padding: 40px;
    height: 250px;
}


footer .foot {
    flex-direction: row;
    width: 70%;
    align-items: center;
}
footer .portfolio a { 
    font-size: 16px;
    line-height: 38px;
    width: 200px;
    height: 38px;
    border-radius: 19px;
}
footer .portfolio a:hover {
    color: #7868e6; 
}

footer .foot>div img {
    width: 220px;
}

footer .foot>div p {
    font-size: 16px;
    text-align: center;
}

footer .foot>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    font-size: 20px;
}
footer .foot li:hover a {
    color: #ffcf3e;
}

footer .icon {
    flex-direction: row;
    align-items: center;
    width: 20%;
    height: auto;
    margin-top: 0;

}

footer .icon li a {
    width: 60px;
    height: 60px;
}

footer .icon li img {
    height: 35px;
}
footer .icon li:hover img {
    opacity: 0.5;
}