@charset "utg-8";

/* common */
body {
    text-transform: capitalize;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

::selection {
    background-color: #c0c0c0;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

img {
    vertical-align: top;
    max-width: 100%;
}

.title a {
    text-align: center;
    border: 1px solid #000;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    font-weight: 700;
    background: url(../../images/icon-09.png) no-repeat 93%/cover;
    background-size: 13px;
}

.title a:hover {
    background: url(../../images/icon_w-09.png) no-repeat 93%/cover #000;
    background-size: 13px;
    color: #fff;
}

.close {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 30px;
    right: 30px;
    text-indent: -9999px;
    background: url(../images/close.svg) no-repeat 50% 50%/contain;
    z-index: 999;
}

/* header */
header .main_image {
    width: 100%;
    background: url(images/des/mac_des_main.jpg) no-repeat 50%/cover;
    text-indent: -9999px;
    height: 30vh;
}

header {
    display: flex;
    flex-direction: column-reverse;
}

header .title {
    padding: 45px 20px;
    box-sizing: border-box;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header .title h1 {
    font-size: 25px;
    margin: 12px 0;
}

header .title #date {
    text-transform: uppercase;
    font-weight: 700;
    margin: 30px 0;
}

header .title img {
    width: 90px;
}

header .title ul {
    margin: 50px 0;
}

header .title ul span {
    font-weight: 700;
}

header .title ul li {
    line-height: 1.5;
}

/* section common */
section {
    margin: 150px 0;
}

section h2 {
    margin-left: 20px;
    margin-bottom: 35px;
    font-size: 1rem;
}

section h2>.num {
    color: #d8dde5;
    font-size: 20px;
    margin-right: 20px;
}

section h2>.light {
    font-weight: 400;
}

/* intro overview */
.intro .project_title {
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    padding: 12px;
    text-align: center;
    margin: 0 20px;
}

.intro ul {
    line-height: 1.8;
    margin: 20px;
}

.intro ul li {
    margin-bottom: 20px;
}

.intro ul span {
    font-weight: 700;
    width: 100%;
    display: inline-block;
}

/* problem */
.problem div {
    margin: 30px 0;
}

.problem div p {
    font-size: 15px;
    margin: 25px 20px;
    line-height: 1.5;
    text-align: justify;
}

.problem div h3 {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #eb0000;
    display: inline-block;
    margin: 0 20px;
}

/* publishing */
.publishing .img {
    display: flex;
    width: 90%;
    margin: 40px auto;
}

.publishing .img li:nth-child(3) {
    margin-top: 10%;
}

.publishing .img li:nth-child(4) {
    margin-top: 15%;
}

.publishing .img li:nth-child(5) {
    margin-top: 5%;
}

.publishing .txt {
    line-height: 1.8;
    margin: 0 20px;
    font-size: 14px;
}

.publishing .txt li {
    margin-bottom: 20px;
}

.publishing .txt span {
    font-weight: 700;
    width: 100%;
    display: inline-block;
    font-size: 1rem;
}

.publishing p {
    margin: 20px;
    font-weight: 700;
    color: #2369ff;
    font-size: 14px;
}

/* point */
.point p {
    margin: 20px;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.point ul li {
    background-color: #000;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    margin: 10px 20px;
    text-align: center;
    padding: 8px 0;
}

/* design concept */
.design_concept {
    background-color: #f6f7f9;
    padding-top: 50px;
}

.design_concept>p {
    text-align: center;
    margin: 30px 20px 60px;
    font-size: 14px;
}

.design_concept div {
    background-color: #000;
    color: #fff;
    padding: 20px;
    line-height: 1.5;
    font-size: 14px;
    text-align: justify;
}

.design_concept div p:first-child {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 1rem;
}

.keyword {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.keyword li {
    border: 2px solid #313942;
    width: 93px;
    height: 93px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    color: #58595b;
    line-height: 1.5;
    font-weight: 400;
    box-sizing: border-box;
}

.keyword li strong {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #eb0000;
}

/* color */
.color {
    display: flex;
    text-align: center;
    font-size: 19px;
    color: #58595b;
    flex-wrap: wrap;
}

.color li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    margin: 20px 0;
}

.color li div {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 10px;
}

.color li p {
    line-height: 1.5;
    display: none;
}

.color li:nth-child(1) div {
    background-color: #fff;
    border: 1px solid #000;
}

.color li:nth-child(2) div {
    background-color: #000;
}

.color li:nth-child(3) div {
    background-color: #ebdfd4;
}


.color li p:last-child {
    display: block;
    font-weight: 700;
    text-transform: lowercase;
    font-size: 15px;
}

.color_wrap>p {
    text-align: center;
    line-height: 1.5;
    font-size: 15px;
    margin: 20px;
}

/* typography */
.typo .font_box>div {
    line-height: 1.5;
    margin: 0 20px;
    font-size: 15px;
    text-align: justify;
}

.typo .font_box>div>p {
    margin: 20px 0;
}

.typo .font_box>img {
    width: 70%;
    margin: 70px auto;
    display: block;
}

/* 주요기능 및 시각화 */
.main_function>div {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.main_function>div>img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.main_function>div>.txt {
    margin: 35px 20px;
}

.main_function>div>.txt h3 {
    color: #d8dde5;
    font-size: 15px;
}

.main_function>div>.txt div {
    font-weight: 700;
    color: #313942;
    font-size: 23px;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
    margin: 15px 0;
}

.main_function>div>.txt>p {
    line-height: 1.8;
    font-size: 15px;
}

.main_function>.point2 {
    flex-direction: column-reverse;
}

/* footer */
footer {
    background-color: #000;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .btn_wrap {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: space-between;
}

footer .btn_wrap li a {
    background-color: #fff;
    font-weight: 700;
    width: 80%;
    height: 60px;
    border-radius: 30px;
    font-size: 25px;
    font-weight: 400;
    line-height: 60px;
    display: inline-block;
}

footer .btn_wrap li:hover a {
    color: orange;
}