@charset "utf-8";

:root {
  --white: #fff;
  --black: #000;

  --gray-0: #f6f7f8;
  --gray-1: #e9edf0;
  --gray-2: #dadee1;
  --gray-3: #cbcfd2;
  --gray-4: #adb1b4;
  --gray-5: #8f9396;
  --gray-6: #717578;
  --gray-7: #53575a;
  --gray-8: #35393c;
  --gray-9: #171b1e;

  --states-red: #f75741;
  --states-orange: #e7871e;
  --states-yellow: #ffc45b;
  --states-blue: #0560fd;
  --states-green: #0bc274;

  --header-width: 280px;
  --header-height: 100dvh;

  --lnb-height: 10rem;

  --portfolio-slide-width: 17rem;

  --main-width: calc(100% - var(--header-width));
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 10px;
  word-break: keep-all;
}
::selection {
  background-color: #c0c0c0;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  height: 10%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
body.scroll-lock {
  overflow: hidden !important;
  overscroll-behavior: contain;
  position: relative !important;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.pc-only {
  display: block;
}
.mo-only {
  display: none;
}

/* S: .lnb */
.lnb {
  position: sticky;
  top: 0;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
  width: 100%;
  height: var(--lnb-height);
  background-color: #fff;
  box-sizing: border-box;
  z-index: 1;
}
.lnb .lnb-menu {
  display: flex;
  gap: 1.5rem;
  border-bottom: 1px solid #c0c0c0;
}
.lnb .lnb-menu-item {
  color: #c0c0c0;
  padding: 1rem;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.lnb .lnb-menu-item.active,
.lnb .lnb-menu-item:hover {
  color: #000;
}
/* E: lnb */

/* S: main */
main {
  position: relative;
  margin-left: var(--header-width);
  padding-left: 2rem;
  width: var(--main-width);
  box-sizing: border-box;
}
main:has(.portfolio-slide) {
  width: calc(var(--main-width) - var(--portfolio-slide-width));
}
/* E: main */

/* S: footer */
footer {
  margin-left: var(--header-width);
  background-color: #f2f2f2;
  width: var(--main-width);
}

footer > div {
  padding: 5rem 4.5rem;
  box-sizing: border-box;
}

footer > .txt1 {
  border-bottom: 2px solid #fff;
}
footer > .txt1 > h3 {
  font-size: 2rem;
  font-weight: 700;
}
footer > .txt1 > p {
  text-transform: initial;
  font-size: 1.5rem;
  margin-top: 5rem;
}

footer > .txt2 {
  padding: 3rem 4rem;
  font-size: 0.8rem;
  text-transform: initial;
  line-height: 1.5;
  color: #696d73;
}

/* E: footer */

/* S: customButton */

.btn {
  flex: 1;
  padding: 0 1rem;
  border: 1px solid #000;
  height: 40px;
  border-radius: 20px;
  line-height: 40px;
  font-size: 1rem;
  font-weight: 700;
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: 88%;
  cursor: pointer;
}
.btn:hover {
  background-color: #000;
  color: #fff;
}
.btn:disabled {
  background-color: #eee;
  border-color: #999;
  pointer-events: none;
}

.btn.go-btn {
  background-image: url(../images/icon-09.png);
}
.btn.go-btn:hover {
  background-image: url(../images/icon_w-09.png);
}

.btn.desc-btn {
  background-image: url(../images/icon-10.png);
}
.btn.desc-btn:hover {
  background-image: url(../images/icon_w-10.png);
}
/* E: customButton */

/* S: modal */
.modal-wrap {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--content-width);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.modal-wrap .modal-item {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
  width: 80vw;
  max-width: 70rem;
  height: 80dvh;
  border-radius: 2rem;
  background-color: #fff;
  overflow-y: auto;
  /* box-shadow: 0px 0.2rem 1.2rem 0px rgba(0, 0, 0, 0.1); */
  box-sizing: border-box;
  color: #000;
}
.modal-item .modal-header {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  font-weight: 600;
}
.modal-contents-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-contents-item {
  /* background-color: #fff; */
  /* border-bottom: 1px solid #000; */
}
.modal-contents-name {
  padding: 1.5rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}
.modal-contents-name span {
  pointer-events: none;
}
.modal-contents-name.active + .modal-contents-toggle {
  height: var(--toggle-height);
}

.modal-contents-name .toggle-icon {
  flex: none;
  width: 2rem;
  height: 2rem;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
.modal-contents-name.active .toggle-icon {
  transform: rotate(0);
  fill: #000;
}
.modal-contents-toggle {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.modal-contents-toggle-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 0 1rem 1rem 1rem;
}

.modal-contents-toggle-item .project-sub-title {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.modal-contents-toggle-item .project-text {
  font-size: 1.2rem;
}

#form-wrap,
#popup-wrap,
.modal-wrap,
.alert-popup-wrap {
  pointer-events: auto;
}
.close-btn {
  padding: 0;
  width: 3rem;
  cursor: pointer;
}
.project-link-btn {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 999px;
  border-width: 2px;
  text-transform: uppercase;
}
/* E: modal */

@media (max-width: 1199px) {
  :root {
    --header-width: 100%;
    --header-height: 10dvh;

    --portfolio-slide-width: 100%;

    --main-width: 100%;
  }

  .mo-only {
    display: block;
  }
  .pc-only {
    display: none;
  }

  /* S: main */
  main {
    margin-top: var(--header-height);
    margin-left: 0;
    padding: 0 5vw;
    width: 100%;
  }
  main:has(.portfolio-slide) {
    width: var(--main-width);
  }
  /* E: main */

  /* S: footer */
  footer {
    margin-left: 0;
  }

  footer > div {
    padding: 2rem;
  }

  footer > .txt1 {
  }

  footer > .txt1 > h3 {
    font-size: 1.25rem;
  }

  footer > .txt1 > p {
    text-transform: initial;
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  footer > .txt2 {
    padding: 1.3rem;
    font-size: 0.6rem;
    text-transform: initial;
  }
  /* E: footer */

  /* S: customButton */
  .btn {
    height: 2.5rem;
    border-radius: 2rem;
    line-height: 2.5rem;
    text-indent: 0;
    text-align: center;
  }

  .btn.go-btn {
    background: transparent;
  }
  .btn.go-btn:hover {
    background: transparent;
  }

  .btn.desc-btn {
    background: transparent;
  }
  .btn.desc-btn:hover {
    background: transparent;
  }

  /* E: customButton */

  /* S: modal */
  .modal-wrap .modal-item {
    padding: 3rem 1.6rem;
    width: 90vw;
  }
  .modal-item .modal-header {
    font-size: 1.6rem;
  }
  .modal-contents-name {
    padding: 0.8rem 0;
    font-size: 1.2rem;
  }
  .modal-contents-toggle-item .project-sub-title {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
  }
  .modal-contents-toggle-item .project-text {
    font-size: 0.8rem;
  }
  .project-link-btn {
    background-color: #000;
    color: #fff;
  }
  /* E: modal */
}
