@charset "utf-8";

.m_hide {
    display: none;
}

/* header */
header h1 {
    text-indent: -9999px;
    background: url(../images/logo.svg) no-repeat 50% 50% / contain;
    width: 140px;
    height: 38px;
    margin-left: 20px;
}

/* hamburger menu */
.hamburger {
    width: 95px;
    height: 10vh;
    border-left: 4px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger .bar {
    width: 33px;
    height: 28px;
    position: relative;
    margin: 0;
}

.hamburger .bar span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #000;
    transform: rotate(0deg);
    transition: ease-in-out 0.3s;
}

.hamburger .bar span:nth-child(1) {
    top: 0;
}

.hamburger .bar span:nth-child(2) {
    top: 12px;
}

.hamburger .bar span:nth-child(3) {
    top: 12px;
}

.hamburger .bar span:nth-child(4) {
    bottom: 0;
}

.hamburger .bar.open span:nth-child(1) {
    height: 0;
}

.hamburger .bar.open span:nth-child(2) {
    transform: rotate(-45deg);
}

.hamburger .bar.open span:nth-child(3) {
    transform: rotate(45deg);
}

.hamburger .bar.open span:nth-child(4) {
    height: 0;
}

/* menu */
.menu {
    width: 100%;
    height: 90vh;
    background-color: #fff;
    position: fixed;
    top: 10vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: 0.3s;
}

.menu li a {
    width: 100%;
    height: 15vh;
    font-size: 30px;
    border-top: 4px solid #000;
    font-family: "GmarketSansB";
    display: flex;
    align-items: center;
    color: #fff;
    -webkit-text-stroke: 1px #000;
    text-shadow: -2px 3px 0 #000;
    padding-left: 45px;
    box-sizing: border-box;
}

.active {
    transform: translateX(0);
}

/* main */
main {
    padding-top: 10vh;
}

/* register */
main nav {
    width: 100%;
}

main nav ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    text-transform: capitalize;
    height: 85px;
    line-height: 32px;
    margin-left: auto;
    font-size: 1rem;
    margin-right: 20px;
}

/* category */
.category {
    width: 100%;
    overflow: auto;
    padding: 20px;
    background-color: #ffcf3e;
    box-sizing: border-box;
    text-align: center;
}

.category ul {
    display: flex;
    justify-content: space-around;
    width: 850px;
    margin: 0;
    font-size: 15px;
    font-family: "GmarketSansB";
}

/* swiper */
.swiper-container {
    overflow: hidden;
    width: 100%;
    height: 45vh;
}

.swiper-container .swiper-wrapper .swiper-slide {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px;
}

.swiper-container .swiper-wrapper .img1 {
    background-image: url(img/banner/m/1.jpg);
}

.swiper-container .swiper-wrapper .img2 {
    background-image: url(img/banner/m/2.jpg);
}

.swiper-container .swiper-wrapper .img3 {
    background-image: url(img/banner/m/3.jpg);
}

/* section */
section h4 {
    font-size: 25px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #000;
    color: #fff;
    text-shadow: -1px 2px 0 #000;
    margin: 0;
    padding: 50px 20px 20px;
    position: relative;
    z-index: 50;
}

/* product list */
section > .product {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

section > .product li {
    width: 45%;
    margin: 30px 7.5px;
}

section > .product li > p:nth-of-type(1) {
    margin-top: 10px;
    font-size: 12px;
    font-family: "GmarketSansL";
}

section > .product li > p:nth-of-type(2) {
    margin: 0;
    line-height: 1.5;
}

section > .product li > p:nth-of-type(2) > .cost {
    font-size: 10px;
    color: #a7a9ac;
    text-decoration: line-through;
}

section > .product li > p:nth-of-type(2) > .sale {
    display: block;
    background-color: #f15a29;
    width: 35px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.product {
    position: relative;
}
.product .click2 {
    position: absolute;
    width: 50px;
    transform: rotate(90deg);
    top: 20px;
    left: 0;
}

/* list */
.list {
    background-color: #d2e8e1;
    padding-bottom: 130px;
}

/* page */
.page {
    display: flex;
    font-size: 20px;
    font-family: "GmarketSansB";
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto 50px;
    padding: 0 20px;
    box-sizing: border-box;
}

.page a {
    color: #fff;
    -webkit-text-stroke: 1px #000;
    text-shadow: -1px 2px 0 #000;
    display: flex;
    align-items: center;
}

.page li:nth-child(3) a {
    color: #ffcf3e;
}

.page li a:hover {
    color: #ffcf3e;
}

.page li a img {
    height: 16px;
}

/* btn_wrap */
.btn_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.btn_wrap > div {
    font-size: 24px;
    text-align: center;
    width: 45%;
    padding: 12px 0;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: -2px 3px 0 #000;
    font-family: "GmarketSansB";
}

.btn_wrap > div:hover {
    box-shadow: none;
}

/* footer */
footer {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 300px;
    width: 100%;
    box-sizing: border-box;
}

footer .foot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: capitalize;
}

footer .portfolio a {
    font-size: 13px;
    font-family: "GmarketSansM";
    line-height: 24px;
    width: 130px;
    height: 24px;
    background-color: #fff;
    color: #000;
    border-radius: 12px;
    text-align: center;
}

footer .foot > div img {
    width: 110px;
}

footer .foot > div p {
    font-size: 8px;
}

footer .foot > ul {
    font-size: 13px;
}

footer .foot > ul li {
    line-height: 2;
}

footer .icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin-top: 50px;
}

footer .icon li a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-indent: -9999px;
    display: flex;
    align-items: center;
}

footer .icon li img {
    height: 25px;
    display: block;
    margin: 0 auto;
}
